{% extends 'base.html.twig' %}

{% block title %}Projet Pro{% endblock %}

{% block body %}
    <div class="main-content content-container my-5 p-4">
            
            
    </div>
{% endblock %}
