{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %} 

        <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="main-content content-container car-container my-5 p-4">
                        <h1>La Prépa Numérique à l'E2C - Grand Lille</h1>
                        <p>La Prépa Numérique est un parcours spécifique proposé par l’E2C Grand Lille à des stagiaires désireux d’approfondir leurs connaissances sur les métiers du numérique et de commencer à développer des compétences techniques dans ce domaine.</p>
                        <p>En effet, le secteur du numérique est en forte expansion et de nombreuses opportunités de formations, de plus en plus souvent accessibles sans diplôme, et donc pertinentes pour le public accueilli dans les E2C, s’offrent aux personnes qui s’y intéressent. </p>
                        <p>Mais il peut être difficile de se retrouver dans la multitude de métiers et de formations dont les enjeux et les activités ne sont pas connus à priori. C’est donc l’objectif de la prépa numérique de faire un tour d’horizon de ce secteur d’activités pour permettre aux participants de cibler le métier et la formation qui lui convient. </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="main-content content-container car-container my-5 p-4">
                        <h2>On y fait quoi?</h2>
                        <ul>
                            <li>Des ateliers thématiques pour monter en compétences</li>
                            <li>Des rencontres avec des professionnels et des centres de formations</li>
                            <li>L'expertise de l'E2C pour affiner le projet professionnel</li>
                            <li>Des stages en entreprises pour se confronter à la réalité des métiers</li>
                            <li>Le développement des compétences transversales grâce au workshop</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="main-content content-container car-container my-5 p-4">
                        <h2>Et en pratique?</h2>
                        <p>La prochaine Prépa Numérique aura lieu au sein du site de Lille.</p>
                        <p><strong class="text-strong">Adresse :</strong> 48 rue des canonniers, 59000 LILLE</p>
                        <p><strong class="text-strong">Dates :</strong> du 6 novembre 2023 au 23 février 2024</p>
                        <p> <strong class="text-strong">Interessé(e)?</strong> Participez à une des réunions collectives pour en savoir plus le 3, 10, 17 ou 31 octobre 2023 à 15h00</p>
                        <p><strong class="text-strong">Plus d'info :</strong> contactez nous au 03 20 63 30 80</p>                    
                        <h2>Trouver sa voie, construire son parcours!</h2>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev car-but car-but-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next car-but car-but-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

{% endblock %}
